/*FONDOS DE PAGINAS*/

.body-index{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.body-art {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.body-can {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.body-nosotros {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}


.body-contacto {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}