//VARIABLES DE COLORES

$color-principal:#ff3333;
$color-secundario:white;
$color-tres:black;
$transparente-uno:rgba(0, 0, 0, .90);
$transparente-dos:#a81515;
$transparente-tres:rgb(33, 33, 33);
$transparente-cuatro:rgba(255, 255, 255, 0.1);
$transparente-cinco:rgba(241, 239, 239, 0.6);


//VARIABLES DE COLORES TRANSPARENTES


//VARIABLE DE MEDIDAS

$ancho-uno:450px;

//MEDIDAS DE TEXTO
$titulo:50px;
$letra-uno:50px;
$letra-dos:30px;